.video-title {
  font-family:arial;
  font-size:18px;
  font-weight: bold;
  width:300px;
  line-height:24px;
  margin-bottom:8px;
}

.style-bussy{
  font-family: Arial;
  font-size: 14px;
  color:rgb(96, 96 ,96);
  margin-top: 0px;
  margin-bottom: 20px;
}

.idiot {
  font-family:Arial;
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 0px;
}

.bitch {
  font-family:Arial;
  Font-size: 15px;
  color: rgb(96,96,96);
  width: 300px;
}

.click {
  background-color: deepskyblue;
  color:white;
  border:none;
  width: 85px;
  height: 45px;
  border-radius: 50px;
  font-weight: bold;
  font-size:12px;
  cursor: pointer;
}
 
.click:hover {
  background-color: rgb( 6, 95 ,212);
  color: Black;
}
